@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BEC8D4, #778196);
}

main {
    background-color: white;
    padding: 10px;
    margin: auto;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px #00294d;
}

h1{
    color: #1B65A6;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px 1px #003869;
    font-size: 40px;
}

h2{
    color: #033473;
}

p {
    text-align: justify;
}